@import "reset.less";
@import "variables.less";
@import "modal.less";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
body {
	font-family: 'Noto Sans', sans-serif;
	color: #colors[text];
	height: 100%;
	overflow: hidden;
}

#bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	
	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1920px;
		height: 1080px;
		transform: translate(-50%, -50%);
		filter: blur(5px);
	}
}

#mainCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	width: 340px;
	height: 440px;
	background: #colors.card[background];
	border-radius: 20px;
	box-sizing: border-box;
	padding: 5px;
	overflow: hidden;
	box-shadow: #colors[shadow] 0 0 5px;
	
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
		width: 100%;
		
		.avatar {
			height: 128px;
			width: 128px;
			background: #colors.card.avatar[background];
			border: 2px solid #colors.card.avatar[border];
			border-radius: 100%;
			margin: 5px;
			box-shadow: #colors.card.avatar[border] 0 0 5px;
		}
		
		h2 {
			font-size: 2em;
			font-weight: bold;
			color: #colors.card[name];
		}
		
		strong {
			font-weight: bold;
			color: #colors.card[strong];
		}
		
		.items {
			text-align: center;
		}
	}
	
	.footer {
		width: 100%;
		text-align: center;
		
		.links {
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100%;
			
			img {
				height: 32px;
				width: 32px;
				border-radius: 100%;
				margin: 3px;
				box-shadow: #colors[shadow] 0 0 3px;
			}
		}
		
		.readmore {
			font-weight: bold;
			color: #colors.card[strong];
			cursor: pointer;
		}
	}
}

#contentBox {
	section {
		margin: 10px;
		
		h2 {
			font-size: 2em;
			font-weight: bold;
			color: #colors.content[name];
		}
		
		ul {
			padding-left: 20px;
			
			li {
				.year {
					font-weight: bold;
					color: #colors.content[strong];
					
					&::after {
						content: ' - ';
						color: inherit;
						font-weight: normal;
					}
				}
				
				.info {
					&::before {
						content: ' - ';
						color: inherit;
						font-weight: normal;
					}
				}
				
				.name {
					font-weight: bold;
				}
				
				a:hover .name {
					color: #colors.content[hover];
				}
			}
		}
	}
}

#creditsLink {
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 20px;
	cursor: pointer;
	color: #colors.credits[open];
	text-shadow: #colors[shadow] 0 0 3px;
}

#credits {
	section {
		margin: 10px;
		display: flex;
		flex-direction: column;
		
		a, span {
			padding-left: 20px;
		}
		
		h2 {
			font-size: 2em;
			font-weight: bold;
			color: #colors.credits[name];
		}
		
		a {
			font-weight: bold;
			color: #colors.credits[url];
			
			&:hover {
				color: #colors.credits[hover];
			}
		}
		
		.author, .artist {
			font-weight: bold;
		}
		
		.author::before {
			content: "Author: ";
		}
		.artist::before {
			content: "Artist: ";
		}
		.character::before {
			content: "Character: ";
		}
	}
}
