@import "reset.less";
@import "variables.less";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');
body {
	font-family: 'Noto Sans', sans-serif;
	color: #colors[text];
	height: 100%;
	overflow: hidden;
}

#bg {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	overflow: hidden;
	
	img {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 1920px;
		height: 1080px;
		transform: translate(-50%, -50%);
		filter: blur(5px);
	}
}

#mainCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	
	width: 340px;
	height: 440px;
	background: #colors.card[background];
	border-radius: 20px;
	box-sizing: border-box;
	padding: 5px;
	overflow: hidden;
	
	.content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: stretch;
		width: 100%;
		
		.avatar {
			height: 128px;
			width: 128px;
			background: #colors.card.avatar[background];
			border: 2px solid #colors.card.avatar[border];
			border-radius: 100%;
			margin: 5px;
		}
		
		h2 {
			font-size: 2em;
			font-weight: bold;
			color: #colors.card[name];
		}
		
		strong {
			font-weight: bold;
			color: #colors.card[strong];
		}
		
		.items {
			text-align: center;
		}
	}
	
	.footer {
		width: 100%;
		text-align: center;
		
		.links {
			display: flex;
			flex-direction: row;
			justify-content: center;
			width: 100%;
			
			img {
				height: 32px;
				width: 32px;
				border-radius: 100%;
			}
		}
		
		.readmore {
			font-weight: bold;
			color: #colors.card[strong];
			cursor: pointer;
		}
	}
}

#contentWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	opacity: 0;
	pointer-events: none;
	transition: opacity .2s;
	
	&.active {
		opacity: 1;
		pointer-events: inherit;
		
		#contentBox {
			top: 10%;
		}
	}
	
	.exit {
		height: 100%;
		background: #colors.content[hide];
		opacity: .8;
	}
	
	#contentBox {
		position: absolute;
		background: #colors.content[background];
		box-sizing: border-box;
		height: 90%;
		width: 100%;
		padding: 10px;
		top: 100%;
		transition: top .2s;
		
		section {
			margin: 10px;
			
			h2 {
				font-size: 2em;
				font-weight: bold;
				color: #colors.content[name];
			}
			
			ul {
				padding-left: 20px;
				
				li {
					.year {
						font-weight: bold;
						color: #colors.content[strong];
					}
					
					.name {
						font-weight: bold;
						
						&::after, &::before {
							content: ' - ';
							color: inherit;
							font-weight: normal;
						}
					}
				}
			}
		}
	}
}
