#colors() {
	text: black;
	shadow: black;
	black: #2a2a2a;
	white: #fefefe;
	accent: #004080;
	
	.modal() {
		background: fade(#colors[white], 80%);
		hide: #colors[black];
	}
	
	.card() {
		background: fade(#colors[white], 90%);
		name: fade(#colors[black], 90%);
		strong: #colors[accent];
		
		.avatar() {
			border: #colors[accent];
			background: lighten(#colors[accent], 50%);
		}
	}
	
	.content() {
		name: fade(#colors[black], 90%);
		strong: #colors[accent];
		hover: darken(#colors[accent], 10%);
	}
	
	.credits() {
		open: fade(#colors[white], 90%);
		name: fade(#colors[black], 90%);
		url: #colors[accent];
		hover: darken(#colors[accent], 10%);
	}
	
	.error() {
		background: #colors[white];
		text: #colors[black];
		accent: #colors[accent];
	}
}
