<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/res/main.css" />
		<meta charset="UTF-8" />
		<script src="/res/main.js"></script>
	</head>
	<body>
		<div id="bg">
			<img src="/res/1920x/bg.jpg" />
		</div>
		<% include mainCard.ejs %>
		<% include contentBox.ejs %>
	</body>
</html>
