<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/res/main.css" />
		<meta charset="UTF-8" />
	</head>
	<body>
		<img id="bg" src="/res/1920x/bg.jpg" />
		<% include mainCard.ejs %>
	</body>
</html>
